@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Alla Categories</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                Category Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model.Categories)
        {
            <tr>
                <td>@cat.Name</td>
                <td><a asp-page="/Category" asp-route-categoryId="@cat.Id" class="btn btn-primary">View</a></td>
            </tr>
        }
    </tbody>
</table>

